<!DOCTYPE HTML>
<html>
    <head th:replace = "layout :: header"></head>

    <body>
        <div th:insert="layout::fb-logout" />
        <div th:insert="layout::navbar-general" />
        <div th:insert="layout::app-ad" />

        <div class="container">
            <h4>Teams Ranking for the current season:</h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Abbreviation</th>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                </tr>
                </thead>
                <tr th:each="team,iterStat : ${rankings}" >
                    <td th:text="${team.get('rank')}"></td>
                    <td th:text="${team.get('Abbreviation')}"></td>
                    <td th:text="${team.get('Name')}" ></td>
                    <td th:text="${team.get('City')}" ></td>
                </tr>
            </table>
        </div>

        <div th:insert="layout::scripts" />
    </body>
</html>