<!DOCTYPE HTML>
<html>
    <head th:replace = "layout :: header"></head>

    <body>
        <div th:insert="layout::navbar-general" />
        <div th:insert="layout::app-ad" />

        <div class="container">
            <h4>Scores of all games being played today:</h4>

            <div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Home</th>
                        <th scope="col">Score</th>
                        <th scope="col">Away</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Location</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tr th:each="sb : ${scoreboard}" >
                        <td th:text="${sb.get('homeTeam')}"></td>
                        <td th:text="${sb.get('homeScore')} + ' - ' +${sb.get('awayScore')}" ></td>
                        <td th:text="${sb.get('awayTeam')}"></td>
                        <td th:text="${sb.get('date')}" >  </td>
                        <td th:text="${sb.get('time')}" >  </td>
                        <td th:text="${sb.get('location')}" > </td>
                        <td th:text="${sb.get('status')}" >  </td>
                    </tr>
                </table>
            </div>
        </div>

        <div th:insert="layout::scripts" />
    </body>
</html>