<!DOCTYPE HTML>
<html>
    <head th:replace = "layout :: header"></head>

    <body>
        <div th:insert="layout::navbar-general" />
        <div th:insert="layout::fb-login"/>
        <div th:insert="layout::app-ad" />

        <div>
            <p Welcome to Sports Watch Web Application!/>
        </div>
        <div id="status"></div>

        <div class="container">

            <h4>Team: <span th:text="${teamDetails.City} +' ' + ${teamDetails.teamName}"></span></h4>
                <img th:src="@{'/img/teams/' + ${teamDetails.abbreviation} + '.png'}"/>

            <!--<div>-->
                <!--<p>Click the button below to add this team to your favorite teams</p>-->
                <!--<a class="btn btn-primary" th:href="@{~/add-to-favorites?id=} + ${teamDetails.id}">Add to Favorites</a>-->
            <!--</div>-->

            <p>Schedules of games for the latest season</p>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Away Team</th>
                </tr>
                </thead>
                <tr th:each="gameDetail,iterStat : ${gameDetails}" >
                    <td th:text="${gameDetail.get('id')}" >  </td>
                    <td th:text="${gameDetail.get('date')}" >  </td>
                    <td th:text="${gameDetail.get('time')}" >  </td>
                    <td th:text="${gameDetail.get('awayTeam')}" >  </td>
                </tr>
            </table>

            <div>
                <h4>Team: <span th:text="${teamDetails.City} +' ' + ${teamDetails.teamName}"></span></h3>
                    <img th:src="@{'/img/teamlogos/' + ${teamDetails.abbreviation} + '.png'}"/>
                    <div>
                        <p>Wins and Losses of this team</p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Record</th>
                                <th scope="col">VS. Team</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                            </tr>
                            </thead>
                            <tr th:each="gameDetail,iterStat : ${gameDetails}" >
                                <td th:text="${gameDetail.get('wins')} == 1 ? 'Win' : 'Loss'"></td>
                                <td th:text="${gameDetail.get('awayTeam')}" > </td>
                                <td th:text="${gameDetail.get('date')}" >  </td>
                                <td th:text="${gameDetail.get('time')}" >  </td>
                            </tr>
                        </table>
                    </div>
            </div>
        </div>

        <div th:insert="layout::scripts" />
    </body>
</html>