<!DOCTYPE HTML>
<html>
    <head th:insert = "layout :: header"></head>

    <body>
        <div th:insert="layout::navbar" />
        <div th:insert="layout::fb-login"/>

        <!--<div>-->
        <!--<p th:text="'Hello ' + ${userName} +', select your favorite teams from the navigation bar'"/>-->
        <!--</div>-->
        <div id="status"></div>

        <a href="/">
            <img src="/img/homepage.jpg" width=100% height=20% class="d-inline-block align-top" alt="Logo">
        </a>

        <!-- #### Teams Table #### -->
        <p>List of your favorite teams: </p>
        <table class="table-responsive{-lm|-ld}" align="center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Abbreviation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team : ${activeUserFavoriteTeams}">
                <td scope="col" th:text="${team.teamName}">Name</th>
                <td scope="col" th:text="${team.abbreviation}">Abbreviation</th>
            </tr>
            </tbody>
        </table>

        <div th:insert="layout::scripts" />
    </body>
</html>